<div class="small-9 columns">
  <nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li>
        <span class="show-for-sr">Current: </span> Home
      </li>
  </ul>
  </nav>
<h1>
  News Aggregator<small> Version 0.0</small>
</h1>
<h2>
  <a href="/articles">Check out the articles!</a>
</h2>
</div>
