<!DOCTYPE html>
<html>
  <head>
    <title>News Aggregator</title>
    <link href="<%= url('/foundation.min.css') %>" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class='row'>
      <%=yield%>
    </div>
  </body>
</html>
