<!DOCTYPE html>
<html>
  <head>
    <title>News Aggregator</title>
    <link rel="stylesheet" href="/foundation.min.css">
  </head>
  <body>
    <div class='row'>
    <%=yield%>
    </div>
  </body>
</html>
